<a href="https://colab.research.google.com/github/SIVASHANKARI04/Retail-data-merging-and-analysis/blob/main/merging_retail_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_stores=pd.read_csv("/content/stores_data_set (1).csv")
df_sales=pd.read_csv("/content/sales_data_set (1).csv")
df_features=pd.read_csv("/content/Features_data_set (1).csv")

In [ ]:
df_stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [ ]:
df_stores.shape

(45, 3)

In [ ]:
df_sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

In [ ]:
df_sales.shape

(421570, 5)

In [ ]:
df_sales_stores=pd.merge(df_sales,df_stores,on="Store")

In [ ]:
df_sales_stores.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday Type    Size
0      1     1  05/02/2010      24924.50      False    A  151315
1      1     1  12/02/2010      46039.49       True    A  151315
2      1     1  19/02/2010      41595.55      False    A  151315
3      1     1  26/02/2010      19403.54      False    A  151315
4      1     1  05/03/2010      21827.90      False    A  151315

In [ ]:
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [ ]:
df_features.shape

(8190, 12)

In [ ]:
df_features.drop(columns="IsHoliday",axis=1,inplace=True)

In [ ]:
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106

In [ ]:
df_final=pd.merge(df_sales_stores,df_features,on=["Store","Date"])

In [ ]:
df_final.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,05/02/2010,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,12/02/2010,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,19/02/2010,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,26/02/2010,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,05/03/2010,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106

In [ ]:
df_final.shape

(421570, 16)

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     150681 non-null  float64
 10  MarkDown2     111248 non-null  float64
 11  MarkDown3     137091 non-null  float64
 12  MarkDown4     134967 non-null  float64
 13  MarkDown5     151432 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 48.6+ MB

In [ ]:
df_final["Date"]=pd.to_datetime(df_final["Date"],format="%d/%m/%Y")

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     150681 non-null  float64
 10  MarkDown2     111248 non-null  float64
 11  MarkDown3     137091 non-null  float64
 12  MarkDown4     134967 non-null  float64
 13  MarkDown5     151432 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 48.6+ MB

In [ ]:
df_final["year"]=df_final["Date"].dt.year
df_final["month"]=df_final["Date"].dt.month
df_final["day"]=df_final["Date"].dt.day
df_final["day_of_week"]=df_final["Date"].dt.day_of_week
df_final["week"]=df_final["Date"].dt.isocalendar().week

In [ ]:
df_final

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,...,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,year,month,day,day_of_week,week
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,...,NaN,NaN,NaN,211.096358,8.106,2010,2,5,4,5
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,...,NaN,NaN,NaN,211.242170,8.106,2010,2,12,4,6
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,...,NaN,NaN,NaN,211.289143,8.106,2010,2,19,4,7
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,...,NaN,NaN,NaN,211.319643,8.106,2010,2,26,4,8
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,...,NaN,NaN,NaN,211.350143,8.106,2010,3,5,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,B,118221,64.88,3.997,4556.61,...,1.50,1601.01,3288.25,192.013558,8.684,2012,9,28,4,39
421566,45,98,2012-10-05,628.10,False,B,118221,64.89,3.985,5046.74,...,18.82,2253.43,2340.01,192.170412,8.667,2012,10,5,4,40
421567,45,98,2012-10-12,1061.02,False,B,118221,54.47,4.000,1956.28,...,7.89,599.32,3990.54,192.327265,8.667,2012,10,12,4,41
421568,45,98,2012-10-19,760.01,False,B,118221,56.47,3.969,2004.02,...,3.18,437.73,1537.49,192.330854,8.667,2012,10,19,4,42
421569,45,98,2012-10-26,1076.80,False,B,118221,58.85,3.882,4018.91,...,100.00,211.94,858.33,192.308899,8.667,2012,10,26,4,43

# 1.Identify average customer visit in Type C store in April Month.

In [ ]:
 df_final[(df_final["Type"]=="C") & (df_final["month"]==4)]["Weekly_Sales"].mean()

9469.20306923626

# 2.Find the highest sales in each store type on Holiday season.

In [ ]:
df_final[df_final["IsHoliday"]=="True"].groupby("Type")["Weekly_Sales"].max()

Series([], Name: Weekly_Sales, dtype: float64)

# 3.What is the expected sales of each depeartment when the unemployment factor is greater than 7.

In [ ]:
df_final[df_final["Unemployment"]>7].groupby("Dept")["Weekly_Sales"].mean()

Dept
1     19068.215428
2     44523.220077
3     11499.226148
4     26365.901780
5     21189.217671
          ...
95    71843.360383
96    15919.228199
97    14202.523998
98     6928.188961
99      453.802879
Name: Weekly_Sales, Length: 81, dtype: float64

# 4.Aggregate net sales for each department in month wise.

In [ ]:
df_final.groupby(["Dept","month"])["Weekly_Sales"].sum()

Dept  month
1     1         4919530.75
      2        12657329.37
      3        10809758.44
      4        17620651.88
      5         7650736.26
                  ...
99    8           18816.56
      9            4878.76
      10          13665.09
      11          78254.54
      12         152432.68
Name: Weekly_Sales, Length: 962, dtype: float64

# 5.Identify the performance of the store on weekwise, without offers.

In [ ]:
df_final[df_final["Weekly_Sales"]>0].groupby(["Store","week"])["Weekly_Sales"].sum()

Store  week
1      1       2995102.20
       2       2850615.13
       3       2721849.26
       4       2636224.90
       5       4886660.13
                  ...
45     48      1754945.47
       49      1959519.65
       50      2202199.17
       51      3204820.02
       52      1548559.83
Name: Weekly_Sales, Length: 2340, dtype: float64